Makefile.in
Makefile

/aclocal-copy
/config.*
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/src/config.h
/src/config.h.in
/src/config.h.in~
/src/stamp-h1
/src/version-num
/src/version.h

*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.so
*.so.*
*.out

src/atapi_pt_helper
