allow destination org.freedesktop.DBus interface org.freedesktop.DBus member Hello
allow destination org.freedesktop.DBus interface org.freedesktop.DBus member ListNames
allow out-any
