deny all
allow destination org.freedesktop.DBus interface org.freedesktop.DBus member Hello
allow destination org.freedesktop.DBus interface org.freedesktop.DBus.Introspectable member Introspect 
allow out-any
