Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
src/stamp-h1
src/*.o
src/gtk-switcher
src/rpcgen
src/version-num
src/version.h
